<%- include('partials/header.ejs') %>
</head>
  <body>
    <%- include('partials/navbar.ejs') %>
      <%- include('partials/menu.ejs') %>


        <main id="main" class="main">

          <div class="pagetitle">
            <h1 style="text-align: center;">Conheça a melhor Plataforma para Mensagens em Massa de Guaranta do Norte</h1>           
          </div>  
          <% if(sucesso) {%>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <%=sucesso%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
            <% } %>
            <% if(erro) {%>
              <div class="alert alert-primary alert-dismissible fade show" role="alert">
                  <%=erro%>
                      <button type="button" class="btn-close" data-bs-dismiss="alert"
                          aria-label="Close"></button>
              </div>
              <% } %><br>
          <section class="section">
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Whatsapp em Massa</h5><br>
                    <str>MYzap oferece uma ferramenta classificada a melhor do mercado em disparo de mensagens em massa de forma simples e fácil.
                      Suas mensagens podem ter dados personalizados como: nome do cliente, sua mensagem, mais dados da empresa.                      
                      Você também pode enviar mensagem, importar os contatos do seu celular e enviar mensagem de tele cobrança. 
                      E em poucos cliques já começa a enviar centenas de mensagens.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">

               

              </div>
            </div>
          </section>

        </main>
        <%- include('partials/footer.ejs') %>        
  </body>

  </html>