<%- include('../partials/header.ejs') %>
    </head>

    <body>
        <%- include('../partials/navbar.ejs') %>
            <%- include('../partials/menu.ejs') %>


                <main id="main" class="main">

                    <% if(sucesso) {%>
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <%=sucesso%>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                        <% } %>
                            <% if(erro) {%>
                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                    <%=erro%>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                                <% } %><br>
                                    <section class="section">
                                        <div class="row">


                                         

                                           


                                                    
                <div style="text-align: center; display: none;" id="carregamento">
                    <button class="btn btn-primary" type="button" disabled>
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                      <span class="sr-only"> Carregando....Aguarde...</span>
                    </button>
                    <button class="btn btn-primary" type="button" disabled>
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                      Carregando....Aguarde
                    </button>
                  </div><br>
                  <div class="col-lg-12">
                                               <form action="/whatsapp/getMessage" method="post">

                                                    <div class="card" id="corpo">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Configuração da mensagem</h5><br>

                                                            <div class="row">
                                                                <div class="col-6">
                                                                    <label class="form-label">Telefone</label>
                                                                    <input type="text" class="form-control"
                                                                        name="telefone" placeholder="66-9999-9999"
                                                                        maxlength="10" minlength="10" required>
                                                                </div>
                                                                <div class="col-6">
                                                                    <label class="form-label">Nome cliente</label>
                                                                    <input type="text" class="form-control" id="cliente"
                                                                        name="cliente" placeholder="Nome cliente"
                                                                        required>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <label class="form-label">Digite sua
                                                                        mensagem</label>
                                                                    <textarea class="form-control" style="height: 100px"
                                                                        id="mensagem" name="mensagem"
                                                                        placeholder="Digite sua mensagem"
                                                                        required></textarea>
                                                                </div><br>
                                                            </div><br>

                                                            <div class="card">
                                                                <input type="text" style="width: 100%; height:100px;" class="form-control" name="formato" id="formato"
                                                                  readonly>
                                                              </div>

                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary" onclick="carregamento_btn();">Enviar mensagem</button>
                                                </div>
                                               
                                            </form>

                                           
                                    </section>

                </main>
                <%- include('../partials/footer.ejs') %>
    </body>

    </html>

    <script>
        function carregamento_btn() {
          setTimeout(
            document.getElementById('carregamento').style.display = 'block',
            document.getElementById('corpo').style.display = 'none',             
          ),7000
        }
      </script>
      <script>
          $('#mensagem').on('blur',function(){
              var mensagem = $(this).val();
              var cliente = document.querySelector('#cliente');
              var nome_cliente = cliente.value;
              var mensagem_formatada = nome_cliente + ' ' + mensagem + ' ' + '{Nome empresa}';
              $('#formato').val(mensagem_formatada);
          });
      </script>