<%- include('../../partials/header.ejs') %>
  </head>

  <body>
    <%- include('../../partials/navbar.ejs') %>
      <%- include('../../partials/menu.ejs') %>


        <main id="main" class="main">
          <section class="section">
            <form action="/whatsapp/send/charge" method="post">
              <input type="hidden" name="codigo_cobranca" value="<%= codigo_cobranca %>">
              <div class="row">
                <div style="text-align: center;">
                  <button type="submit" class="btn btn-primary" onclick="carregamento_btn()">Enviar Mensagem</button><br>
                </div>
                <br><br>
                <div style="text-align: center; display: none;" id="carregamento">
                  <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only"> Enviando mensagem....Aguarde... Esse processo poderár demorar
                      bastante!</span>
                  </button>
                  <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Enviando mensagem....Aguarde... Esse processo poderár demorar bastante!
                  </button>
                </div><br>
                <h5 class="card-title" style="text-align:center">Dados da mensagem</h5>
                <br>
                <% dados.forEach(cobranca=> { %>
                  <div class="col-sm-12" id="corpo">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">PREZADO SR.(A) <%= cobranca.nome_cliente %> NOSSO REGISTRO CONSTA O
                            SEGUINTE VALOR EM ABERTO R$ <%= cobranca.valor_pendente %> SOLICITAMOS QUE ENTRE EM CONTATO
                              CONOSCO <%= cobranca.empresa %>
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
              </div>
              <% }); %>
                </div>
            </form>
          </section>


        </main>
        <%- include('../../partials/footer.ejs') %>
  </body>

  </html>
  <script>
    function carregamento_btn() {
    setTimeout(
      document.getElementById('carregamento').style.display = 'block',
      document.getElementById('corpo').style.display = 'none',
    ), 7000
    }
  </script>